.fax-slot-machine: before {
    content: "\1f3b0"
}

body {
    counter-reset: li; /* initialize counter named li */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 24px;
}

hr {
    border: 1px solid #357FAA;
}

ol {
    margin-left: 0; /* Remove the default left margin */
    padding-left: 0; /* Remove the default left padding */
}

ol > li {
    position: relative; /* Create a positioning context */
    margin: 0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding: 10px 80px; /* Add some spacing around the content */
    list-style: none; /* Disable the normal item numbering */
    border-top: 2px solid #317EAC;
    background: rgba(49, 126, 172, 0.1);
}

ol > li: before {
    content: "Question " counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 7em;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #317EAC;
    color: #fff;
    background: #317EAC;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

li ol,
li ul {margin-top: 6px;}

ol ol{
    counter-reset: subitem;
}

li li{
    border-top: 0 solid #317EAC;
    background: rgb(49, 126, 172);
    background: rgba(49, 126, 172, 0);
    padding: 0 0; /* No spacing around the content */
}

li li: before{
    content: counter(subitem, upper-alpha) '. ';
    counter-increment: subitem;
    position: absolute;
    top: -2px;
    left: -2em;
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    box-sizing: content-box;
    width: 1em;
    margin-right: 4px;
    padding: 2px;
    color: #317EAC;
    background: transparent;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

#instructions { 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 1px solid rgb(0, 102, 102);
    border: 1px solid rgba(0, 102, 102, 0.2);
    border-radius: 5px;
    color: rgb(0, 102, 102);
    color: rgba(0, 102, 102, 0.8);
    background: rgb(204, 255, 255);
    background: rgba(204, 255, 255, 0.1);
}

#license { 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 1px solid rgb(76, 114, 29);
    border: 1px solid rgba(76, 114, 29, 0.2);
    border-radius: 5px;
    color: rgb(76, 114, 29);
    color: rgba(76, 114, 29, 0.8);
    background: rgb(76, 114, 29);
    background: rgba(76, 114, 29, 0.1);
}

.boxedtext {
    background-color: rgb(86, 155, 189);
    background-color: rgba(86, 155, 189, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 10pt;
}

.exercise {
    position: relative; /* Create a positioning context */
    margin: 0 0 10px 0; /* Give each list item a left margin to make room for the numbers */
    padding: 10px 30px; /* Add some spacing around the content */
    border-top: 2px solid #35CD4B;
    background: rgb(49, 199, 58);
    background: rgba(49, 199, 58, 0.1);
}
