.fax-slot-machine::before {
    content: "\1f3b0"
}

body {
    counter-reset: question 0 exercise 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 24px;
}

hr {
    border: 1px solid #357FAA;
}

.question, .exercise {
    position: relative;
    margin: 2em;
    padding: 2em 20px 1em 20px;
}

.question::before, .exercise::before {
    position: absolute;
    top: -1em;
    left: -2em;
    width: 7em;
    padding: 5px 0;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.question {
    counter-increment: question;
    background: rgb(49, 126, 172);
    background: rgba(49, 126, 172, 0.1);
}

.question::before {
    content: "Question " counter(question);
    background: #317EAC;
    background: rgb(49, 126, 172);
}

.exercise {
  counter-increment: exercise;
  background: rgb(92, 184, 92);
  background: rgba(92, 184, 92, 0.1);
}

.exercise::before {
    content: "Exercise " counter(exercise);
    background: rgb(92, 184, 92);
}


.question ul {
  counter-reset: choice;
  margin-left: 1.5em;
  list-style-type: none;
}

.question li {
    margin-top: 20px;
    counter-increment: choice;
}

.question li::before {
  content: counter(choice, upper-alpha) '. ';
  color: #317EAC;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  width: 2em;
  margin-left: -2em;
  display: inline-block;
}


.instructions {   
    margin-top: 30px;
    /*margin-bottom: 30px;*/
    padding: 10px 10px 0;
    border: 1px solid rgb(0, 102, 102);
    border: 1px solid rgba(0, 102, 102, 0.2);
    border-radius: 5px;
    color: rgb(0, 102, 102);
    color: rgba(0, 102, 102, 0.8);
    background: rgb(204, 255, 255);
    background: rgba(204, 255, 255, 0.1);
}

.license { 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 10px 0;
    border: 1px solid rgb(76, 114, 29);
    border: 1px solid rgba(76, 114, 29, 0.2);
    border-radius: 5px;
    color: rgb(76, 114, 29);
    color: rgba(76, 114, 29, 0.8);
    background: rgb(76, 114, 29);
    background: rgba(76, 114, 29, 0.1);
}

.boxedtext {
    background-color: rgb(86, 155, 189);
    background-color: rgba(86, 155, 189, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 10pt;
}


